
<html><head></head><body><table width="600px" cellspacing="0" cellpadding="0" border="0" valign="top">
<tbody>
<tr style="">
	<td valign="top" id="header" colspan="2" style="">
		<img width="102" align="left" src="http://lifestylebreakthrough.com.au/templates/lifestyle/images/logo.jpg">
		<h1 style="">E-Newsletter</h1>
	</td>
</tr>
<tr>
	<td colspan="2"><hr></td>
</tr>
<tr>
	<td style="">
		<table width="420" cellspacing="0" cellpadding="8" border="0" valign="" id="main_content">
			<tbody>
				<tr id="story_one">
					<td>
						<img width="148px" align="right" src="http://lifestylebreakthrough.com.au/templates/lifestyle/images/image3.jpg">
						Hi Xin Yi,<br><br>
						Maintaining good health is of vital importance for you to be able to succeed at work and live a happy life.
					</td>
				</tr>
				<tr><td><hr></td></tr>
				<tr id="story_two">
					<td>
						<h2 style="color:#C50A20">Mums and Babies</h2>
						<img src="http://www.lifestylebreakthrough.com.au/templates/lifestyle/images/club-left.jpg" width="200" align="left">

						Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.

						Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						<br>
						<a href="www.lifestylebreakthrough.com" align="right" style="color:#C50A20; float:right">read more...</a>
					</td>
				</tr>
				<tr><td><hr></td></tr>
				<tr id="story_three">
					<td>
						Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.

						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

						Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
					</td>
				</tr>
				<tr><td><hr></td></tr>
				<tr id="story_four">
					<td>
						Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.

						Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
					</td>
				</tr>
			</tbody></table>
		</td>
		<td valign="top" style="background: none repeat scroll 0px 0px rgb(38, 65, 130)">
			<table width="180" cellspacing="0" cellpadding="10" border="0" id="sidebar" style="color: rgb(210, 203, 150); ">
				<tbody><tr id="sidebar_one"><td>
					<h3>Win an iPad!</h3>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<hr>
				</td></tr>
				<tr id="sidebar_two"><td>
					<h3>iPhone Here!</h3>
					Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue.
					<hr>
				</td></tr>
				<tr id="sidebar_three"><td> 
					<h3>Free Apple Juice</h3>
					Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					<hr>
				</td></tr>
				<tr id="sidebar_four"><td> 
					<h3></h3>
					Donec id elit non mi porta gravida at eget metus.
					<hr>
				</td></tr>
				<tr id="sidebar_five"><td> 
					Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
					<hr>
				</td></tr>
			</tbody></table>
		</td>
	</tr>
	<tr>
		<td colspan="2" id="footer">
			<hr>
			Lifestyle Breakthrough<br>
			Phone: (03) 9079 0477<br>
			Email: <a href="enquiries@lifestylebreakthrough.com.au" style="color:#C50A20">enquiries@lifestylebreakthrough.com.au</a><br>
			Fax: (03) 9012 4403<br>
			<a href="www.lifestylebreakthrough.com.au"><h5 align="right" style="color:#C50A20">Unsubscribe from newsletter</h5></a>
		</td>
	</tr>
</tbody></table></body></html>